p {
  color: black;
  font-size: 20px;
  text-align: center;
}

.heading1 {
  color: red;
}
.heading2 {
  color: red;
}
.heading3 {
  color: red;
}
.paragraph1 {
  color: blue;
}

.blue{
  color: skyblue;
}
.pink{
  color: rgb(255, 192, 203);
}

body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1{
  font-size: 48px;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#basic > p {
  font-weight: bold;
}
.paragraph2 {
  color: blue;
}
.paragraph3 {
  color: blue;
}

html {
    font-size: 20px;
}

