h1, p, body {
  margin: 0px;
}
P, a {
  font-size: 20px;
}

header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align:center;
}

h1 {
  color :rgb(255, 255, 255);
}

main {
  margin: 10px;
}

.contents img {
    margin: 10px 0px;
    width: 70%;
}

h2 {
    font-size: 25px;
    text-decoration: dotted underline 3px rbg(236,122,122);
}

h2::before {
   content: "●";
   color: rgb(239, 111, 139);
   margin-right: 5px;
}

div {
  text-align: center;
}

#parent {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contents {
  padding: 10px 15px;
  margin: 20px 0;
  justify-content: center;
  flex-basis: 25%;
  border: solid 3px rgb(238, 204, 204);
  display: inline-block;
  flex-grow: 1;
}


.flexbox-container {
    display: flex;
    flex-direction: column;
}

.contents p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align:center;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: green;
}
a:hover {
    color: purple;
}

@media screen and (max-width: 768px) {
  h2{
      font-size: 30px;
  }
  P {
    font-size: 25px;
  }
  
  .contents {
    display: block;
    flex-basis: 100%;
}
 }