header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}


h1, p, body {
  margin: 0px;
}

a, p {
  font-size: 20px;
}

.header {
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  display: flex;
}
h2::before {
   content: "●";
   color: rgb(239, 111, 139);
}

.title {
  color: rgb(255, 255, 255);
}

.main {
  margin: 10px;
}

.parent {
  display: flex;
  justify-content: space-around;
}

.contents {
  padding: 10px 15px;
  margin: 20px 0;
  justify-content: center;
  flex-basis: 25%;
  border: solid 3px rgb(238, 204, 204);
}

p .umbrella {
    color: rgb(97, 206, 249);
    font-weight: bold;
}

#parent {
    display: flex;
    flex-direction: column;
}

a:visited {
    color: green;
}
a:hover {
    color: purple;
}