html, body {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

#nav-pc ul {
    display: flex;
}

#nav-pc li {
    list-style: none;
}

#nav-pc a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

#nav-pc a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}

#menu-sp2 {
    display: none;
}

#nav-sp {
    display: none;
}

@media screen and (max-width: 767px) {

#nav-pc {
        display: none;
}

#menu-sp {
        float: right;
        padding: 0;
        display: block;
        border: none;
        background-color: transparent;
}

#nav-sp {
        background-color: #ce933e;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%; 
        width: 100%;
        display: none;
        z-index: 100;
}
#nav-sp ul {
    padding-left: 0;
}

#nav-sp li {
    list-style: none;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}

#logo-sp {
    margin: 80px 0 30px 20px;
}

#nav-sp a {
    display: block;
    color: #ffffff;
}

#nav-sp a:link {
    color: #ffffff;
}

#nav-sp a:visited {
    color: #ffffff;
}

#nav-sp a:active {
    color: #ffffff;
}

#nav-sp .menu {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    height: 44px;
    font-size: 16px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
}
#sns {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#sns > a {
    margin-right: 30px;
}
 }